
  /* Estilos generales de la página */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Secciones */
  section {
    padding: 20px;
  }
  
  /* Estilos para el footer */
  footer {
    background-color: #FF9800; 
    color: #000;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }

/* Estilos para el navbar */
nav {
    background-color: #FF9800; /* Color amarillo */
    color: #000000;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    font-size: 18px; 
    font-weight: bold; 
  }
  
/* Estilos para la sección de inicio */
#inicio {
    background-image: url('./img/inicio.jpg');
    background-size: cover;
    background-position: center;
    color: #FF9800;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #FF9800; 
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    background-color: #FF9800; 
    color: #000; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #FFB74D; 
  }
  

  /* Estilos para la sección de productos */
#productos {
    text-align: center;
    padding: 50px 0;
  }
  
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
  }
  
  .product {
    max-width: 250px;
  }
  
  .product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .product p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  

  /* Estilos para la sección de contacto */

#contacto {
    text-align: center;
    padding: 50px 0;
  }
  
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .contact-info {
    flex: 1;
    max-width: 400px;
  }
  
  .contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .contact-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-info li {
    margin-bottom: 10px;
  }
  
  .contact-info li a img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  
  .contact-form {
    flex: 1;
    max-width: 400px;
  }
  
  .contact-form h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-form form {
    text-align: left;
  }
  
  .contact-form input,
  .contact-form textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .contact-form button {
    display: inline-block;
  }

.contact-form button {
  display: inline-block;
  background-color: #FF9800; 
  color: #000; 
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  border: none; 
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #FFB74D; 
}  
  
  
  /* Media queries */
  @media (max-width: 480px) {
    .hero h1 {
      font-size: 24px;
    }
  
    .hero p {
      font-size: 14px;
      margin-bottom: 20px;
    }
  
    .btn {
      font-size: 12px;
      padding: 8px 16px;
    }
  
    .product-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
    }
  
    .contact-info h3,
    .contact-info p {
      font-size: 14px;
      margin-bottom: 10px;
    }
  
    .contact-info li {
      margin-bottom: 5px;
    }
  
    .contact-info li a img {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
  
    .contact-form h3 {
      font-size: 16px;
      margin-bottom: 10px;
    }
  
    .contact-form input,
    .contact-form textarea {
      padding: 6px;
      font-size: 12px;
    }
  
    .contact-form button {
      padding: 6px 12px;
      font-size: 12px;
    }
  }
  